body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.card {
    background: linear-gradient(135deg, rgb(110, 113, 117), rgb(79, 86, 90));
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    width: 750px; /* Set a fixed width for the cards */
}

.card-title {
    font-size: 30px;
}

.card-title {
    margin: 1rem;
}

.card-body {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 1rem;
}

.form-container {
    background: linear-gradient(135deg, rgb(110, 113, 117), rgb(79, 86, 90));
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    width: 600px; /* Set a fixed width for the form */
    margin: 0 auto;
}

.hover-3d {
    transition: transform 0.2s, box-shadow 0.2s;
    will-change: transform, box-shadow;
}

.hover-3d:hover {
    transform: translateY(-8px) scale(105%);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.login {
    margin-top: 15%;
    background: white;
    width: 25%;
    padding: 50px 0 50px 0;
    border-radius: 20px;
}

.login-bg {
    background-color: #f7f7f7;
    background-image: radial-gradient(#80b9ff 1.4500000000000002px, transparent 1.4500000000000002px), radial-gradient(#80b9ff 1.4500000000000002px, #f7f7f7 1.4500000000000002px);
    background-size: 58px 58px;
    background-position: 0 0, 29px 29px;
}

.error-text {
    color: red;
}