{% extends 'base.html' %}

{% block title %}Accounts{% endblock %}

{% block body %}
    <h1 class="my-4">Accounts ({{ accounts|length }})</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{{ url_for('account_form') }}" class="btn btn-primary">+ Add Account</a>
        <button id="sortBtn" class="btn btn-secondary">Sort: Ascending</button>
    </div>
    <!-- Search bar -->
    <div class="form-group">
        <input type="text" class="form-control" id="searchBar" placeholder="Search accounts">
    </div>
    <!-- Card container for account cards -->
    <div class="card-container" id="accountsContainer">
        <!-- Iterate through the accounts and create a card for each one -->
        {% for account in accounts %}
            <div class="card mb-4 account-card" data-rank="{{ account.rank }}">
                <div class="card-body">
                    <!-- Account display name and tag -->
                    <div>
                        <h5 class="card-title">{{ account.display.name }}#{{ account.display.tag }}</h5>
                        <!-- Account details -->
                        <p class="card-text">
                            <strong>Username:</strong>
                            <button type="button" class="btn btn-sm btn-secondary ml-2 copy-btn"
                                    data-clipboard-text="{{ account.username }}">Copy to clipboard
                            </button>
                            <br>
                            <strong>Password:</strong>
                            <button type="button" class="btn btn-sm btn-secondary ml-2 copy-btn"
                                    data-clipboard-text="{{ account.password }}">Copy to clipboard
                            </button>
                            <br>
                            <strong>Region:</strong> {{ account.region }}<br>
                            <strong>Birthdate:</strong> {{ account.birthdate }}
                        </p>
                    </div>
                    <!-- Rank container -->
                    <div class="rank-container">
                        <div class="rank-box">
                            <!-- Rank icon -->
                            <img src="{{ url_for('static', filename='rank_images/' + account.rank + '.png') }}"
                                 alt="{{ account.rank }}" class="rank-icon">
                            <!-- Rank text -->
                            <div class="rank-text">{{ account.rank }} ({{ account.rr }} RR)</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        const clipboard = new ClipboardJS('.copy-btn');

        const RANKS_ORDER = [
            'Iron 1', 'Iron 2', 'Iron 3',
            'Bronze 1', 'Bronze 2', 'Bronze 3',
            'Silver 1', 'Silver 2', 'Silver 3',
            'Gold 1', 'Gold 2', 'Gold 3',
            'Platinum 1', 'Platinum 2', 'Platinum 3',
            'Diamond 1', 'Diamond 2', 'Diamond 3',
            'Ascendant 1', 'Ascendant 2', 'Ascendant 3',
            'Immortal 1', 'Immortal 2', 'Immortal 3',
            'Radiant'
        ];

        const accountsContainer = document.getElementById('accountsContainer');
        const sortBtn = document.getElementById('sortBtn');

        let sortOrder = 'asc'; // Default sort order

        sortBtn.addEventListener('click', () => {
            sortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
            sortBtn.textContent = `Sort: ${sortOrder === 'asc' ? 'Ascending' : 'Descending'}`;
            sortAccounts();
        });

        sortAccounts();

        function sortAccounts() {
            const accountCards = Array.from(accountsContainer.getElementsByClassName('account-card'));

            accountCards.sort((a, b) => {
                const rankA = a.getAttribute('data-rank');
                const rankB = b.getAttribute('data-rank');
                const orderA = RANKS_ORDER.indexOf(rankA);
                const orderB = RANKS_ORDER.indexOf(rankB);

                if (orderA === -1) return 1;
                if (orderB === -1) return -1;
                return sortOrder === 'asc' ? orderA - orderB : orderB - orderA;
            });

            for (const card of accountCards) {
                accountsContainer.appendChild(card);
            }
        }
        
        const searchBar = document.getElementById('searchBar');

        searchBar.addEventListener('input', () => {
            filterAccounts(searchBar.value);
        });

        function filterAccounts(searchText) {
            const accountCards = Array.from(accountsContainer.getElementsByClassName('account-card'));

            accountCards.forEach(card => {
                const displayName = card.querySelector('.card-title').textContent;
                const isVisible = displayName.toLowerCase().includes(searchText.toLowerCase());
                card.style.display = isVisible ? 'block' : 'none';
            });
        }
    </script>
{% endblock %}
