{% extends 'base.html' %}

{% block title %}Accounts{% endblock %}

{% block body %}
    <h1 class="my-4">Accounts ({{ accounts|length }})</h1>
    <p>Hey there! Below, you'll find all the accounts you're tracking at the moment. They're sorted by their competitive rank in ascending order, but if you want to mix things up, just hit the Sort button above. Keep in mind that if we can't track an account's stats, it'll show up at the bottom of the list, regardless of the sorting method you choose.</p>

    <!-- Add account button -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{{ url_for('account_form') }}" class="btn btn-primary">+ Add Account</a>
        <button id="sortBtn" class="btn btn-secondary">Sort: Ascending</button>
    </div>

    <!-- Search bar -->
    <div class="form-group">
        <input type="text" class="form-control" id="searchBar" placeholder="Search accounts">
    </div>

    <!-- Container for all 'Account' cards -->
    <div class="card-container" id="accountsContainer">

        <!-- Create a card for each account in storage -->
        {% for account in accounts %}

            <!-- Account card -->
            <div class="card mb-4 account-card hover-3d" data-rank="{{ account.rank }}" style="
                    {% if 'Iron' in account.rank %}
                        background: linear-gradient(135deg, rgba(82,36,36,0.8), rgba(66,57,57,0.8));
                    {% elif 'Bronze' in account.rank %}
                        background: linear-gradient(135deg, rgba(121, 85, 72, 0.8), rgba(141, 110, 99, 0.8));
                    {% elif 'Silver' in account.rank %}
                        background: linear-gradient(135deg, rgba(96, 125, 139, 0.8), rgba(120, 144, 156, 0.8));
                    {% elif 'Gold' in account.rank %}
                        background: linear-gradient(135deg, rgba(206,190,48,0.8), rgba(199,136,72,0.8));
                    {% elif 'Platinum' in account.rank %}
                        background: linear-gradient(135deg, rgba(13, 71, 161, 0.8), rgba(25, 118, 210, 0.8));
                    {% elif 'Diamond' in account.rank %}
                        background: linear-gradient(135deg, rgba(149, 117, 205, 0.8), rgba(179, 157, 219, 0.8));
                    {% elif 'Immortal' in account.rank %}
                        background: linear-gradient(135deg, rgba(233, 30, 99, 0.8), rgba(236, 64, 122, 0.8));
                    {% elif 'Radiant' in account.rank %}
                        background: linear-gradient(135deg, rgba(255, 152, 0, 0.8), rgba(255, 193, 7, 0.8));
                    {% else %}
                        background: linear-gradient(135deg, rgb(110, 113, 117), rgb(79, 86, 90));
                    {% endif %}
                    ">
                <h2 class="card-title text-center mb-4">{{ account.display.name }}#{{ account.display.tag }}</h2>
                <div class="card-body">

                    <!-- Left 75% of card -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="username"
                                           value="{{ account.username }}" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary copy-btn"
                                                data-clipboard-text="{{ account.username }}">
                                            <i class="fas fa-copy"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="password"
                                           value="{{ account.password }}" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary copy-btn"
                                                data-clipboard-text="{{ account.password }}">
                                            <i class="fas fa-copy"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Right 25% of card -->
                        <div class="col-md-6">
                            <div class="text-center">
                                <img src="{{ url_for('static', filename='img/rank_images/' + account.rank + '.png') }}"
                                     class="img-fluid" alt="{{ account.rank }}" width="150px">
                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="rank-title">Region</label>
                                <input type="text" class="form-control" id="region"
                                       value="{{ account.region }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="rank-rating">Last Update</label>
                                <input type="text" class="form-control" id="last_fetched"
                                       value="{{ account.last_fetched }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="rank-title">Rank Title</label>
                                <input type="text" class="form-control" id="rank-title"
                                       value="{{ account.rank }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="rank-rating">Rank Rating</label>
                                <input type="text" class="form-control" id="rank-rating"
                                       value="{{ account.rr }}" readonly>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        {% endfor %}

    </div>

    <script>

        // "Copy to clipboard" functionality
        const clipboard = new ClipboardJS('.copy-btn');

        // Sorting cards by rank
        const RANKS_ORDER = [
            'Iron 1', 'Iron 2', 'Iron 3',
            'Bronze 1', 'Bronze 2', 'Bronze 3',
            'Silver 1', 'Silver 2', 'Silver 3',
            'Gold 1', 'Gold 2', 'Gold 3',
            'Platinum 1', 'Platinum 2', 'Platinum 3',
            'Diamond 1', 'Diamond 2', 'Diamond 3',
            'Ascendant 1', 'Ascendant 2', 'Ascendant 3',
            'Immortal 1', 'Immortal 2', 'Immortal 3',
            'Radiant'
        ];

        const accountsContainer = document.getElementById('accountsContainer');
        const sortBtn = document.getElementById('sortBtn');

        let sortOrder = 'asc'; // Default sort order

        sortBtn.addEventListener('click', () => {
            sortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
            sortBtn.textContent = `Sort: ${sortOrder === 'asc' ? 'Ascending' : 'Descending'}`;
            sortAccounts();
        });

        sortAccounts();

        function sortAccounts() {
            const accountCards = Array.from(accountsContainer.getElementsByClassName('account-card'));

            accountCards.sort((a, b) => {
                const rankA = a.getAttribute('data-rank');
                const rankB = b.getAttribute('data-rank');
                const orderA = RANKS_ORDER.indexOf(rankA);
                const orderB = RANKS_ORDER.indexOf(rankB);

                if (orderA === -1) return 1;
                if (orderB === -1) return -1;
                return sortOrder === 'asc' ? orderA - orderB : orderB - orderA;
            });

            for (const card of accountCards) {
                accountsContainer.appendChild(card);
            }
        }

        // Search bar functionality
        const searchBar = document.getElementById('searchBar');

        searchBar.addEventListener('input', () => {
            filterAccounts(searchBar.value);
        });

        function filterAccounts(searchText) {
            const accountCards = Array.from(accountsContainer.getElementsByClassName('account-card'));

            accountCards.forEach(card => {
                const displayName = card.querySelector('.card-title').textContent;
                const isVisible = displayName.toLowerCase().includes(searchText.toLowerCase());
                card.style.display = isVisible ? 'block' : 'none';
            });
        }
    </script>

{% endblock %}
